 @font-face
   font-family Coolvetica
   font-style normal
   src url(../assets/fonts/coolvetica.ttf)
@import '~vuetify/src/stylus/settings/_variables'
$body-font-family = 'Coolvetica'
@import '~vuetify/src/stylus/main'
